.background{
    background: url(/img/bg3.png) top no-repeat;
    width: 100%;
    height: 100vh;
}

#modalPdf1 .modal-dialog {
    max-width: 740px;
}


#modalPdf1 .modal-content{
    background: rgb(86,37,124);
    background: linear-gradient(0deg, rgba(86,37,124,1) 0%, rgba(189,0,78,1) 100%);
    border: none;
}

#modalPdf1 .modal-header{
    border: none;
    display: flex;
    justify-content: flex-end;
}

#modalPdf1 .modal-header img{
    cursor: pointer;
}
#modalPdf1 .modal-body #info h6{
    color: #DAD716;
    font-size: 31px;
}

#modalPdf1 .modal-body #info p:nth-child(2){
    color: #fff;
    padding-top: 10px;
}

#modalPdf1 .modal-body #info p:nth-child(3){
    color: #fff;
}

#modalPdf1 .modal-body #download{
    background: #213480;
height: 370px;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 50px;
justify-content: center;
}


#modalPdf1 .modal-body #download img{
    width: 50px;
    margin-bottom: 15px;
}

#modalPdf1 .modal-body #download p:nth-child(2){
    color: #DAD716;
    margin-bottom: 0;
    font-weight: bold;
}
#modalPdf1 .modal-body #download p:nth-child(3){
    color: #fff;
}