
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #213480; 
    border-radius: 10px;
  }
  






.background{
    background: url(/img/bg3.png) top no-repeat;
    width: 100%;
    height: 100vh;
}

#modalAgenda .modal-dialog {
    max-width: 1280px;
}


#modalAgenda .modal-content{
    background: rgb(86,37,124);
    background: linear-gradient(0deg, rgba(86,37,124,1) 0%, rgba(189,0,78,1) 100%);
    border: none;
}

#modalAgenda .modal-header{
    border: none;
    display: flex;
    justify-content: flex-end;
}

#modalAgenda .modal-header img{
    cursor: pointer;
}

#modalAgenda .modal-body{
    padding:0;
}
#modalAgenda .modal-body #foto{
    padding: 0;
}

#modalAgenda .modal-body #foto img{
    width: 100%;
}


#modalFotoVisualiza .modal-dialog {
    max-width: 1380px;
}




#modalFotoVisualiza .modal-content{
    background: rgb(86,37,124);
    background: linear-gradient(0deg, rgba(86,37,124,1) 0%, rgba(189,0,78,1) 100%);
    border: none;
}

#modalFotoVisualiza .modal-header{
    border: none;
    display: flex;
    justify-content: flex-end;
}

#modalFotoVisualiza .modal-header img{
    cursor: pointer;
}

#modalFotoVisualiza .modal-body{
    padding:0;
}
#modalFotoVisualiza .modal-body #foto{
    padding: 0;
}

#modalFotoVisualiza .modal-body #foto img{
    width: 100%;
}

#diaSelecione{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

#diaSelecione button{
    background: transparent;
    border: 1px solid #fff;
    width: 100px;
    height: 40px;
    color: #ffe600;
    margin-right: 25px
}

#diaSelecione button:focus {
    background: #213480;
    border: 1px solid #ffe600;
    width: 100px;
    height: 40px;
    color: #fff;
    margin-right: 25px;
}


#btnAgenda{
    display: flex;
    justify-content: space-around;
}

#itemAgenda{
    margin-top: 45px;
    border-bottom: 1px solid #fff;
}


#itemAgenda27, #itemAgenda28, #itemAgenda29{
    display: none;
}


#btnAgenda button:nth-child(1) {
    background: url(/img/exit.png) no-repeat #fff;
    height: 80px;
    width: 53%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 31px;
    background-size: 40px;
    background-position: 0px;
}

#btnAgenda button:nth-child(2){
    background: url(/img/exit.png) no-repeat #213480;
    height: 80px;
    width: 40%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-size: 40px;
    background-position: 0px;
    color: #fff;
    padding-left: 25px;
}

#infoAgenda p:nth-child(1){
    font-size: 20px;
    text-transform: uppercase;
    color: #ffe600;
}

#infoAgenda p{
    color: #fff;
    margin-bottom: 30px;
    font-size: 15px;
}

#infoPalestrante{
    background-color: #213480;
    margin-top: 30px;
    padding: 40px;
    margin-bottom: 25px;
    margin-bottom: 45px;
    border-radius: 5px;
}

#fotoPalestrante img{
    width: 100%;
}


#textoPalestrante div{
    display: flex;
    justify-content: flex-end;
}


#textoPalestrante p:nth-child(2){
    color: #ffe600;
    text-transform: uppercase;
    font-size: 20px;
}

#textoPalestrante p:nth-child(3){
    color: #fff;
}

#modalAgenda .container:nth-child(2){
    height: 450px;
    overflow-y: auto;
    margin-bottom: 50px;
}



@media screen and (min-width: 300px) and (max-width: 725px){
    #btnAgenda {
        justify-content: space-between;
        padding-top: 25px;
    }
    #infoAgenda p:nth-child(1) {
        font-size: 21px;
        margin-top: 25px;
    }
    #btnAgenda button:nth-child(1) {
        width: 49%;
    }
    #btnAgenda button:nth-child(2) {
        width: 45%;
    }
    #fotoPalestrante img {
        width: 150px;
    }
}

#modalAgenda #titulo h4{
    text-align: center;
    margin-bottom: 55px;
    color: #fff;
}

#infoPalestrante #fotoPalestrante img{
    border-radius: 90px;
}

#infoPalestrante{
    display: none;
}

